__pycache__
*.out
*.log
*.pdf
*.png
*.txt
tmp*
lightning_checkpoints/
HyperOptim/Embedding/*
HyperOptim/Filter/*
HyperOptim/GNN/*
configs/pipeline-PU200_Embed-*
configs/pipeline-PU200_Embedding-*.yaml
LightningModules/Embedding/optim-PU200-Embed-*.yaml
LightningModules/Embedding/optim_Embedding-*.yaml
tracks/DBSCAN_config/TTBar_PU200.yaml
lightning_modules/*/*.yaml
configs/pipeline*